.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f8f9fa;
    color: #333;
    border-top: 1px solid #ddd;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* Assure que le footer occupe toute la largeur */
    z-index: 1000; /* S'assure que le footer reste au-dessus d'autres éléments */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Ajoute une ombre subtile */
}

.footer p {
    margin: 0;
}
